// variable overrides
$font-family-sans-serif:      "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$headings-font-family:        "Shrikhand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$theme-colors: (
  primary: #fff,
  secondary: #00636A
);

$body-color: #00636A;
$link-hover-color: #00636A;
$link-hover-color-transparent: rgba(0, 99, 106, .44);
$link-hover-decoration: none;

// Bootstrap source
@import "../../node_modules/bootstrap/scss/bootstrap";